<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%c{10} %d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="D:\\var/log/file-encryptor.log"
                     filePattern="logs/$${date:yyyy-MM}/file-encryptor-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%c{10} %d{HH:mm:ss.SSS} [%t] %-5level- %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="nl.danman85.file_encryptor" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>